.chat-main
  .group-info
    .group-info__left-box
      .group-info__left-box__current-group
        = @group.name
      .group-info__left-box__member__list
        Member :
        .group-info__left-box__member__list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group.id) do
      Edit
  .message-list
    = render partial: 'message', collection: @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
